<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PetClinic Selenium TestNG Suite">
    <listeners>
        <listener class-name="org.springframework.samples.petclinic.selenium.testng.util.ParasoftSuiteListener"/>
    </listeners>
    <test name="NavigateIT">
        <classes>
            <class name="org.springframework.samples.petclinic.selenium.testng.NavigateIT"/>
        </classes>
    </test>
    <test name="PetIT">
        <classes>
            <class name="org.springframework.samples.petclinic.selenium.testng.PetIT"/>
        </classes>
    </test>
</suite>
